:host {
    position: fixed;
    left: 0;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

ul {
    box-shadow: 5px 5px #87c2ce;
}

li {
    background: #80cfdb5e;
    border-color: #87c2ce;
}

.temp, .day {
    margin: 0;
    text-align: center;
}

.temp {
    font-weight: bold;
}

.day {
    font-style: italic;
}